 .App {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
  margin-top: 100px;
}

h1 {
  color: #b3621f;
  margin-bottom: 50px;

}

.calculator-body {
  background-color: rgba(245, 236, 183, 0.911);
  border: 2px solid #141414;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 40vw;

  padding: 2vw;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-body {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.screen {
  width: 100%;
  padding: 15px;
  font-size: 20px;
  border: 1px solid #cccccc;
  margin-bottom: 5px;
}

.output {
  margin-top: 5%;
  margin-bottom: 5%;
  color: rgb(0, 128, 122);
  font-weight: 900;
  font-size: 2vw;
}

.button-pad {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.symbol-body {
  display: grid;
  margin-left: 20%;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}

.arithmetic {
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  margin-right: 20%;
  gap: 10px;
}

.controls-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  padding: 5px 10px;
  font-size: 16px;
  font-weight: 600;
  background-color: #b8bcb8;
  color: #000000;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #1fb39a;
}

.equals-value {
  background-color: #74ff33;
  margin: 5px;
}

.clearscreen {
  background-color: #ff5833de;
  margin: 5px;
}

.delete-value {
  background-color: #1fb3a7;
  margin: 5px;
}

.fields input {
  background-color: #e8eef5;
  border: 1px solid rgb(231, 228, 228);
  width: 5vw;
}